<nb-layout>

    <nb-layout-header subheader>
        <a href="#" (click)="toggle()"><button nbButton status="primary"> <i class="fas fa-bars"></i> </button><i
                class="nb-menu"></i></a>
    </nb-layout-header>

    <nb-sidebar state="expanded">
        <nb-menu [items]="items">
        </nb-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-primary">
        <div class="row">
            <div class="col-md-4" align="center">peurba 1</div>
            <div class="col-md-4" align="center">peurba 1</div>
            <div class="col-md-4" align="center">peurba 1</div>
        </div>
    </nb-layout-column>
</nb-layout>