<nb-layout>
  <nb-layout-header>
    <h1 class="text-center w-100"><b>Lista de Vendedores</b></h1>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <button nbButton status="success" (click)="nuevoUsuario()">Nuevo</button>
        <table class="table" align="center" table-sm>
          <thead class="thead-dark" align="center">
          <tr>
            <th >Código</th>
            <th >Nombre</th>
            <th >Apellido</th>
            <th >Correo</th>
            <th >Activo</th>
            <th></th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let usuario of listaUsuarios" class="text-center w-100">
            <th scope="row">{{usuario.id}}</th>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.correo}}</td>
            <td><nb-checkbox status="warning" [checked]="usuario.activo" disabled></nb-checkbox></td>
            <td>
              <button nbButton status="danger" (click)="eliminarUsuario(usuario.id)">
                <nb-icon icon="trash-2-outline"></nb-icon></button>
              &nbsp;
              <button nbButton status="info" (click)="editarUsuario(usuario.id)">
                <nb-icon icon="edit-2-outline"></nb-icon></button>
            </td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
