<nb-layout>
  <nb-layout-header>
    <h1 class="text-center w-100"><b>Lista de Productos</b></h1>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <button nbButton status="success" (click)="nuevoProducto()">Nuevo</button>
        <table class="table" align="center" table-sm>
          <thead class="thead-dark" align="center">
          <tr>
            <th >Código</th>
            <th >Nombre</th>
            <th >Costo unitario</th>
            <th >Descripcion</th>
            <th >Imagen</th>
            <th></th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let producto of listaProductos" class="text-center w-100">
            <th scope="row">{{producto.id}}</th>
            <td>{{producto.nombre}}</td>
            <td>{{producto.costoUnitario | currency:'Q'}}</td>
            <td>{{producto.descripcion}}</td>
            <td><img src="{{producto.imagen}}" style="height: 100px; width: 100px"/></td>
            <td>
              <button nbButton status="danger" (click)="eliminarProducto(producto.id)">
                <nb-icon icon="trash-2-outline"></nb-icon></button>
              &nbsp;
              <button nbButton status="info" (click)="editarProducto(producto.id)">
                <nb-icon icon="edit-2-outline"></nb-icon></button>
            </td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
