<nb-layout>
  <nb-layout-column ></nb-layout-column>
  <nb-layout-column >
    <nb-card>
      <nb-card-body>
        <form [formGroup]="formulario" (ngSubmit)="ingresar()">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="usuario"><b>Usuario:</b></label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input nbInput type="text" id="usuario" formControlName="usuario" status="info" fullWidth>
                </div>
              </div>
              <label for="password"><b>Contraseña:</b></label>
              <input nbInput type="password" id="password" formControlName="password" status="info" fullWidth>
            </div>
        </form>
        <div align="center">
          <button nbButton status="success" [disabled]="formulario.invalid">Ingresar</button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column ></nb-layout-column>
</nb-layout>

